{% extends 'layouts/base_user.html' %}
{% load static %}

{% block head %}
<title>Are your sure?</title>
<link rel="stylesheet" href="{% static 'css/update_account.css' %}">
{% endblock %}


{% block content %}
<div class="back_a">
    <a  class="go_back" href="{% url 'my_profile' user.pk %}"><i class="fa-solid fa-arrow-left"></i> Volver</a>
</div>

<section>
    <form method="POST" action="{% url 'Delete_account' user.pk %}">
        {% csrf_token%}
        <p><strong>Are you sure deleting your account?</strong></p>
        <button type="submit">Yes,i do</button>
    </form>
</section>
{% endblock %}